@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
html, body, #root {
  height: 100%;
}
body {
  @apply font-sans bg-gray-50 text-gray-900 min-h-screen;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', sans-serif;
}

.app-container {
  @apply px-4 md:px-8;
}
